div#header {height: 60px;}
div#header h1 {text-align: center;}
div#header p.hide {display: none;}
div#links {display: none;}
div#rechts {display: none;}
div#footer {display: none;}
body {font: 12px arial, sans-serif;}
.auswahl a {display: none;}